<%- include('../layouts/header.ejs') %>

<div class="text-center regdiv center-div">
    <div class="container regcon" style="max-width: 500px;">
        <div class="title regtit">
            <h1 class="pb-3 text-light">Registration Form</h1>
            <% if(locals.message) { %>
                <span id="message" class="alert text-warning text-center message" role="alert"><%= message %></span>
            <% } %>
            <div id="error" class="text-warning fw-bold text-center"></div>
            <form action="" method="post" enctype="multipart/form-data" id="form">
                <div class="form-group mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Enter Name" id="name">
                </div>
                <div class="form-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Enter Email" id="email">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="phone" class="form-control" placeholder="Enter Mobile Number" id="phone">
                </div>
                <div class="form-group mb-3">
                    <input type="file" name="photo" class="form-control" placeholder="Upload Image" id="photo">
                </div>
                <div class="form-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Enter Password" id="password">
                </div>
                <button type="submit" class="btn btn-secondary rounded-pill mb-4">Register</button>
            </form>
            <span class="text-light d-block">Already have an account? <a href="/">Sign up!</a></span>
        </div>
    </div>
</div>

<%- include('../layouts/footer.ejs') %>

<script>

    setTimeout(() => {
        const messageDiv = document.getElementById('message');
        if (messageDiv) {
            messageDiv.remove();
        }
    }, 5000);
    // setTimeout(() => {
    //     const messageDiv = document.getElementById('error');
    //     if (messageDiv) {
    //         messageDiv.remove();
    //     }
    // }, 5000);

    let form = document.getElementById("form");
    let error = document.getElementById("error");
    let message = [];
    let name_reg = /^[a-zA-Z ]+$/;
    let mobile_reg = /^\d{10}$/;
  
    form.addEventListener("submit", (e) => {
      message = [];
      let name = document.getElementById("name").value.trim();
      let email = document.getElementById("email").value.trim();
      let mobile = document.getElementById("phone").value.trim();
      let password = document.getElementById("password").value.trim();
  
      if (!name_reg.test(name)) {
        message.push("Invalid Name");
      }
  
      email_validate(email);
  
      if (!mobile_reg.test(mobile)) {
        message.push("Mobile Number should be 10 digit numbers");
      }
  
      if (password.length < 3) {
        message.push("Password should be at least 3 characters");
      }
  
      if (message.length > 0) {
        e.preventDefault();
        error.innerText = message[0];
      }
    });
  
    function email_validate(email) {
      let reg = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      let result = reg.test(email);
      if (!result) {
        message.push("Invalid Email");
      }
    }
  </script>